.parent {
  max-height: calc(100vh - 390px);
  overflow: auto;
  position: relative;
  outline: none;

  @media screen and (min-width: 1021px) {
    max-height: calc(100vh - 328px);
  }
}

.listcontainer {
  display: flex;
  flex-direction: column;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  height: max-content;
}
