.cart {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #232526;

  @media screen and (min-width: 1021px) {
    position: initial;
    left: unset;
    bottom: unset;
    width: max-content;
    border-radius: 24px;
    flex-direction: column;
    gap: 32px;
  }
}

.info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  line-height: 133%;
}

.title {
  font-weight: 700;
  font-size: 18px;
}

.counter {
  font-size: 16px;
}
