.option {
  line-height: 150%;
  color: #fff;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
  font-size: 14px;

  @media screen and (min-width: 1021px) {
    font-size: 16px;
  }
}

.option_active {
  text-decoration: none;
  font-weight: 700;
  pointer-events: none;
}
