.picker {
  display: flex;
  align-items: center;
  gap: 8px;
}

.option {
  line-height: 150%;
  color: #fff;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.option_active {
  text-decoration: none;
  font-weight: 700;
  pointer-events: none;
}

.hr {
  width: 1px;
  height: 16px;
  background-color: #fff;
}
