.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
  width: max-content;
}

.date {
  font-weight: 700;
  font-size: 20px;
  line-height: 133%;
  @media screen and (min-width: 1021px) {
    font-size: 24px;
  }
}

.content {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 8px;

  @media screen and (min-width: 1021px) {
    font-size: 16px;
  }
}

.distancecolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.distance {
  line-height: 150%;
}

.distancearrowcontainer {
  position: relative;
  height: 6px;
  width: 100%;
}

.distancearrow {
  position: absolute;
  aspect-ratio: 129 / 6;
  width: 100%;
  object-fit: contain;
}

.name {
  font-weight: 700;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.diameter {
  font-size: 12px;
  line-height: 133%;
}

.buttoncontainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hazardous {
  font-size: 14px;
  line-height: 143%;
  color: #e3e5e5;
}

.hazardous::first-letter {
  color: yellow;
}
