.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
  width: max-content;
}

.date {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
}

.content {
  display: flex;
  gap: 8px;
  align-items: center;
}

.distancecolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.distance {
  line-height: 150%;
}

.name {
  font-weight: 700;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.diameter {
  font-size: 12px;
  line-height: 133%;
}

.buttoncontainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hazardous {
  font-size: 14px;
  line-height: 143%;
  color: #e3e5e5;
}

.hazardous::first-letter {
  color: yellow;
}
