.button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
}

.default {
  border-radius: 40px;
  padding: 8px 16px;
  height: 48px;
  background-color: #f86600;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.card {
  border-radius: 16px;
  height: 24px;
  width: 96px;
  background-color: rgba(248, 102, 0, 0.15);
  font-weight: 700;
  font-size: 11px;
  line-height: 182%;
  letter-spacing: 0.09em;
  color: #f86600;
  text-transform: uppercase;
}

.card:hover {
  background-color: #f86600;
  color: #fff;
}

.card_selected {
  color: #f5ded9;
  pointer-events: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
