* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

button {
  font-family: inherit;
}
